<body>
      <div class="profile-div">
            <h1>Profil</h1>
            <table>
                  <tr>
                        <td class="first-column">Név</td>
                        <td class="second-column">{{ firstName }} {{ lastName }}</td>
                  </tr>
                  <tr>
                        <td class="first-column">Email-cím</td>
                        <td class="second-column">{{ email }}</td>
                  </tr>
                  <tr>
                        <td class="first-column">Jelszó</td>
                        <td class="second-column">{{ password }}</td>
                  </tr>
            </table>
      </div>
</body>
